<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <display-name>SmartShop</display-name>
  
  <welcome-file-list>
    	<welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    	<description></description>
    	<display-name>RegisterServlet</display-name>
    	<servlet-name>RegisterServlet</servlet-name>
    	<servlet-class>com.cts.smart_shop.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>RegisterServlet</servlet-name>
    	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    	<description></description>
    	<display-name>LoginService</display-name>
    	<servlet-name>LoginService</servlet-name>
    	<servlet-class>com.cts.smart_shop.service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>LoginService</servlet-name>
    	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    	<description></description>
    	<display-name>LoginServlet</display-name>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>com.cts.smart_shop.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    	<servlet-name>AddProductServlet</servlet-name>
    	<servlet-class>com.cts.smart_shop.controller.AddProductServlet</servlet-class>
  		  		<multipart-config>
      					<max-file-size>10485760</max-file-size>
      					<max-request-size>20971520</max-request-size>
      					<file-size-threshold>5242880</file-size-threshold>
    	  		</multipart-config>
  </servlet>
  <servlet-mapping>
    	<servlet-name>AddProductServlet</servlet-name>
    	<url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    	<description></description>
    	<display-name>DeleteProductServlet</display-name>
    	<servlet-name>DeleteProductServlet</servlet-name>
    	<servlet-class>com.cts.smart_shop.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>DeleteProductServlet</servlet-name>
    	<url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    	<description></description>
    	<display-name>UpdateProductServlet</display-name>
    	<servlet-name>UpdateProductServlet</servlet-name>
    	<servlet-class>com.cts.smart_shop.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    	<servlet-name>UpdateProductServlet</servlet-name>
    	<url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>

</web-app>